<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Confirm</title>
</head>
<body>
    <h1>
        Confirm before committing to the database.
    </h1>

    <p>
        Number of Records to Post:
        {% if num_records %}
            {{num_records}}
        {% endif %}
    </p>

    <p>
        {% if result['candidate_students'] %}
            There were no perfect matches for a student: {{result['student_name']}},
            Are any of these the student you meant?
                <pre>
                    {% for s in result['candidate_students'] %}
                        {{s}}
                    {% endfor %}
                {% endif %}
                </pre>

        {% if result %}
            Student Name: {{result['student_name']}}
            Matched ID: {{result['student_id']}}
        {% endif %}
    </p>
    

<a href="/">Go back</a>

</body>
</html>